VITE_SUPABASE_URL=https://kjjeparntykkgjhshddg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqamVwYXJudHlra2dqaHNoZGRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA3NDM1NjAsImV4cCI6MjA2NjMxOTU2MH0.vLIirtKR48RVz3-pQ7OKk7g8H-4g99UwYNCnFIS5aWk